$chat-section-max-width: 400px;
$chat-section-padding: 20px;
$message-list-height: 200px;
$chat-input-height: 40px;
$border-color: #BDBDBD;
$border-radius: 5px;

@mixin chat-section-wrapper {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: $chat-section-padding;
  margin-bottom: 20px;
  max-width: $chat-section-max-width;
  position: relative;
}
#chat {
  display: flex;
  flex-direction: column;
  .user-list-wrapper {
    flex: 2;
    @include chat-section-wrapper();
    .user-list {
      list-style: none;
      padding: 0;
      margin: 0;
      .user-wrapper {
        .username {
          font-weight: bold;
        }
      }
    }
  }
  .message-list-wrapper {
    flex: 3;
    @include chat-section-wrapper();
    display: flex;
    flex-direction: column;
    .message-list {
      overflow-y: auto;
      list-style: none;
      padding: 0;
      margin: 0;
      flex: 1;
      .message-wrapper {
        padding-bottom: 3px;
        .message-heading {
          padding-bottom: 6px;
          .username {
            font-weight: bold;
          }
          .date {
            font-size: 0.8em;
            color: #616161;
          }
        }
      }
    }
    .chat-text-input {
      height: $chat-input-height;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      max-width: $chat-section-max-width;
      font-size: 1em;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      &:focus {
        outline: none;
      }
    }
  }
}
