$chat-section-max-width: 350px;
$chat-section-padding: 20px;
$message-list-height: 200px;
$chat-input-height: 40px;
$border-color: #BDBDBD;
$border-radius: 5px;

@mixin chat-section-wrapper {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: $chat-section-padding;
  margin: 0 0 20px 20px;
  max-width: $chat-section-max-width;
  position: relative;
}

@mixin username {
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}

#chat {
  display: flex;
  flex-direction: column;
  .user-list-wrapper {
    flex: 2;
    @include chat-section-wrapper();
    .user-list {
      list-style: none;
      padding: 0;
      margin: 0;
      .user-wrapper {
        .username {
          @include username;
        }
        .unread-message-count {
          font-size: 0.62em;
          vertical-align: middle;
          padding: 1px 4px;
          border-radius: 1000px;
          background-color: red;
          color: white;
        }
      }
    }
  }
  .message-list-wrapper {
    flex: 3;
    @include chat-section-wrapper();
    display: flex;
    flex-direction: column;
    .channel-heading {
      h3 {
        margin: 0;
      }
      hr {
        margin: 1em 0;
        border-top: 1px solid $border-color;
        border-bottom: 0;
      }
    }
    .message-list {
      overflow-y: auto;
      list-style: none;
      padding: 0 0 10px;
      margin: 0;
      flex: 1;
      .message-wrapper {
        padding-bottom: 3px;
        clear: both;
        $avatar-width: 32px;
        $avatar-margin-right: 5px;
        .message-top-padding {
          padding-top: 10px;
        }
        .avatar {
          display: inline-block;
          float: left;
          img {
            border-radius: 3px;
            height: $avatar-width;
            width: $avatar-width;
            margin-right: $avatar-margin-right;
          }
        }
        .avatar-filler {
          height: 1px;
          width: $avatar-width + $avatar-margin-right;
          float: left;
        }
        .message-heading {
          padding-bottom: 3px;
          .username {
            @include username();
          }
          .date {
            font-size: 0.8em;
            color: #616161;
          }
        }
        .message {
          &.server-message {
            color: #757575;
            font-style: italic;
          }
        }
      }
    }
    .chat-text-input {
      height: $chat-input-height;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      max-width: $chat-section-max-width;
      font-size: 1em;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      &:focus {
        outline: none;
      }
    }
  }
}
