[v-cloak] {
  display: none;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  & > h1 {
    flex: 0
  }
  & > div {
    flex: 1
  }
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

.blinking-cursor {
  animation: 1s blink step-end infinite;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
}

