<!DOCTYPE html>
<html>
<head>
  <title>VueJS + SocketIO + Express Chat App</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script data-main="/js/main" src="/js/require.js"></script>
</head>
<body>
<div class="container">
  <h1>VueJS + SocketIO + Express Chat App</h1>
  <div id="chat" v-cloak>
    <div class="user-list-wrapper">
      <ul class="user-list">
        <li class="user-wrapper">
          <span class="username" v-on:click="changeChannel('public')">public</span>
        </li>
        <li v-for="user in users" track-by="username" class="user-wrapper">
          <span class="username" v-on:click="changeChannel(user.username)">{{ user.username }}</span>
        </li>
      </ul>
    </div>
    <div class="message-list-wrapper">
      <div class="channel-heading">
        <h3>#{{ channel }}</h3>
        <hr/>
      </div>
      <ul id="message-list" class="message-list">
        <li v-for="(index, message) in messages" transition="messageAdded" class="message-wrapper">
          <div v-bind:class="message | getMessageClass index ">
            <div v-if="message | isNotSubsequentMessage index" class="avatar">
              <img v-bind:src="message.avatar"/>
            </div>
            <div v-else class="avatar-filler"></div>
            <div v-if="message | isNotSubsequentMessage index" class="message-heading">
              <span class="username">{{ message.username }}</span>
              <span class="date">{{ message.date | formatMessageDate }}</span>
            </div>
            <div class="message">{{ message.message }}</div>
          </div>
        </li>
      </ul>
      <input
        class="chat-text-input blinking-cursor"
        autofocus autocomplete="off"
        v-model="chatText"
        v-on:keyup.enter="submitChat">
    </div>
  </div>
</div>
</body>
</html>
