<!DOCTYPE html>
<html>
<head>
  <title>VueJS + SocketIO + Express Chat App</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script data-main="/js/main" src="/js/require.js"></script>
</head>
<body>
<h1>VueJS + SocketIO + Express Chat App</h1>
<div id="chat" v-cloak>
  <h3>Users online</h3>
  <ul class="user-list">
    <li v-for="user in users" track-by="username">
      {{ user.username }}
    </li>
  </ul>
  <h3>Messages</h3>
  <ul class="message-list">
    <li v-for="message in messages" class="message-wrapper">
      <div>
        <div>
          <span class="username">{{ message.username }}</span>
          <span class="date">{{ message.date | formatMessageDate }}</span>
        </div>
        <div class="message">{{ message.message }}</div>
      </div>

    </li>
  </ul>
  <input
    autofocus autocomplete="off"
    v-model="chatText"
    v-on:keyup.enter="submitChat">
</div>
</body>
</html>
